<configuration>
    <property>
        <name>nameNode</name>
        <value>hdfs://sandbox.hortonworks.com:8020</value>
    </property>
    <property>
        <name>jobTracker</name>
        <value>sandbox.hortonworks.com:8050</value>
    </property>
    <property>
        <name>queueName</name>
        <value>default</value>
    </property>
    <property>
        <name>oozie.wf.application.path</name>
        <value>${nameNode}/apps/oozie/workflow/sqoop-action-pig/workflow.xml</value>
    </property>
    <property>
        <name>oozie.use.system.libpath</name>
        <value>true</value>
    </property>
    <property>
        <name>oozie.action.sharelib.for.pig</name>
        <value>pig,hive</value>
    </property>
    <property>
        <name>stgDir</name>
        <value>/data/hadoop-samples/stg-sqoop-action-pig</value>
    </property>
    <property>
        <name>prepDBName</name>
        <value>default</value>
    </property>
    <property>
        <name>prepTableName</name>
        <value>sqoop_action_pig</value>
    </property>
    <property>
        <name>archiveDir</name>
        <value>/data/hadoop-samples/archive/raw-sqoop-action-pig</value>
    </property>
    <property>
        <name>datestamp</name>
        <value>20151010</value>
    </property>
</configuration>
